<% include partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 mb-3 text-center">
        <h1>Request New Password</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        <form action="/resetPassword" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input id="email" class="form-control" type="email" name="email" autofocus placeholder="Put your e-mail here">
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset Password!">
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>