<% include ../partials/header %>


<div class="row">
    <h1 class="text-center">Create a new Campground</h1>
    <div style="width:30%;margin:30px auto;">
        <form action="/campgrounds" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name of the camp" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="price" placeholder="Price per night" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" accept="image/*" required>
            </div> 
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" placeholder="Yosemite National Park" id="location">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Description">
            </div> 
            <div class="form-group">
                <button class="btn btn-block btn-lg btn-primary">Submit!</button>
            </div>
        </form>
        <a class="btn btn-md btn-warning" href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>