.thumbnail img {
    width: 100%;  
    border-radius: 4px 4px 0 0;
    }
.thumbnail {
    padding: 0;
    }  
.thumbnail .caption-full {
    padding: 9px;
    }    
#delete_form {
    display: inline;
    }   
#delete_form2 {
    display: inline;
    }     
.text_align {
    text-align: center;
    }  
.log_reg_form {
    width: 30%;
    margin: 25px auto;
    }    
#map {
    height: 400px;
    width: 100%;
    }  